<!DOCTYPE html>
<html>
<head>
    <title>Welcome to BVA</title>
</head>
<body>
    <h1>Welcome to the Belize Volleyball Association</h1>
    <p>Choose an option below to proceed:</p>
    <a href="/login">Login</a><br>
    <a href="/signup">Sign Up</a>
</body>
</html>
