<%- include('components/header') %>

    <link rel="stylesheet" href="/styles.css">

    <header>
        <h1>BVA Login</h1>
    </header>
    <div class="standard-container">
        <% if (error) { %><p style="color:red;"><%= error %></p><% } %>
        <% if (successMessage) { %><p style="color:green;"><%= successMessage %></p><% } %>

        <form action="/login" method="post">
            <input type="text" name="username" placeholder="Username" required />
            <input type="password" name="password" placeholder="Password" required />
            <label>
                <input type="checkbox" name="rememberMe" /> Remember Me
            </label>
            <button type="submit">Login</button>
        </form>

        <div class="center-link">
            <a href="/signup">Don't have an account? Sign up</a>
        </div>
    </div>

<%- include('components/footer') %>
