<html lang="{{ str_replace('_', '-', app()->getLocale()) }}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BVA</title>

    <link rel="stylesheet" href="/initial.css">
</head>
<body>
    <nav class="nav">
        <a id="name" href="/home">Belize Volleyball Association</a>
        <a href="/home">Home</a>
        <a href="/tournaments">Tournaments</a>
        <a href="/teams">Teams</a>

        <% if (user && (user.role === 'admin')) { %>
            <a href="/users">Users</a>
        <% } %>
        
        <% if (user) { %>
            <a href="/logout">Logout</a>
        <% } else { %>
            <a href="/login">Login</a>
        <% } %>
    </nav>


    